.game {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 100%;
}

.werge-logo {
  width: 50%;
  max-width: 400px;
  margin: 40px;
}

.user-information {
  display: flex;
  justify-content: space-between;
  width: 80%;
}

