.home {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 100%;
}

.home-logo {
  width: 50%;
  max-width: 400px;
  margin: 40px;
}

.button-area {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  max-height: 300px;
  justify-content: space-around;
}

.home-header {
  padding: 20px;
  color: black;
}

.home-title {
  font-size: 1.5rem;
}

.home-intro {
  font-size: large;
}

.new-game-button {
  background-color: #4D4DFF;
}

.history-button {
  background-color: #47D147;
}

.log-out-button {
  background-color: #ff4d4d;
}

@media (max-width: 480px) {
  .home-logo {
    width: 250px;
    margin:10px;
  }
}

