.login {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.logo {
  width: 50%;
  max-width: 500px;
  margin: 40px;
  min-width: 300px;
}

.login-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  min-height: 10%;
}

.login input {
  font-size: 2rem;
  border: 0;
  text-align: center;
  margin: 7px;
  font-family: 'Playfair Display';
}

.login button {
  border-radius: 10px;
  border: 2px solid white;
  color: white;
  font-family: 'Playfair Display', serif;
  font-weight: bold;
  font-size: 1.5em;
  text-shadow: 1px 1px 5px rgba(0,0,0,1);
  padding: 8px 40px;
}

.login button:hover {
  cursor: pointer;
  box-shadow: 1px 1px 5px rgba(0,0,0,0.7);
}

.login button:active {
  transform: translateY(1px);
  transform: translateX(1px);
  box-shadow: 0px 0px 5px rgba(0,0,0,0.7);
}

.button {
  background-color: #ff8000;
  margin: 7px;
}

